
<div class="centerContent">
    <h2><a class="userLink3" href="/portfolio/{{currId}}">{{currUser}}</a>'s Following:</h2>
</div>
{{#each users as |user|}}
<div class="row defaultRowClass">
  <div class="container-fluid postPreview">
    <div class="row">
      <div class="col-md-12">
        <h6><a class="userLink" href="/portfolio/{{id}}">{{user.username}}</a></h6>
      </div>
    </div>
  </div>

</div>

{{/each}}