<div class="defaultClass">
  <div>
    <div class="centerContent">
      <h2 class="login">Login</h2>
    </div>
    <form class="logForm">
      <div class="centerContent">
        <input type="text" placeholder="Email" id="emailLog" />
      </div>
      <div class="centerContent">
        <input type="password" placeholder="Password" id="passLog" />
      </div>
      <div class="centerContent">
        <button id='logBtn' class="btn btn-primary" type="submit">Login</button>
      </div>
      <div class="centerContent">
        <a href="/signUp">Sign Up Instead</a>
      </div>
    </form>
  </div>
</div>

<script src="./javascripts/login.js"></script>