<div class="defaultClass">
  <div>
    <h2 class="settings">Change Settings</h2>
    <h4 class="settings">NOTE! Clicking submit will change all the data below</h4>
    <form class="setForm">
      <div>
        <input value="{{email}}" type="text" placeholder="Email" id="emailSet" />
      </div>
      <div>
        <input value="{{username}}" type="text" placeholder="Username" id="userSet" />
      </div>
            <div>
        <input type="password" placeholder="Enter Current Password" id="passCheck" />
      </div>
      <div>
        <input type="password" placeholder="Enter New Password" id="passSet1" />
      </div>
      <div>
        <input type="password" placeholder="Repeat New Password" id="passSet2" />
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Submit Changes</button>
      </div>
    </form>
  </div>
  <script src="../javascripts/settings.js"></script>
</div>