<div class="defaultClass">
  <div>
    <div class="centerContent">
    <h2 class="signup">Signup</h2>
    </div>
    <form class="signForm">
      <div class="centerContent">
        <input type="text" placeholder="Email" id="emailSign" />
      </div>
      <div class="centerContent">
        <input type="text" placeholder="Username" id="userSign" />
      </div>
      <div class="centerContent">
        <input type="password" placeholder="Password" id="passSign1" />
      </div>
      <div class="centerContent">
        <input type="password" placeholder="Password" id="passSign2" />
      </div>
      <div class="centerContent">
        <button id="signBtn" class="btn btn-primary" type="submit">Signup</button>
      </div>
      <div class="centerContent">
        <a href="/login">Login Instead</a>
      </div>
    </form>
  </div>
</div>

<script src="./javascripts/signup.js"></script>